body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.page-heading{
    width: 100%;
    margin: auto;
    background: #fff;
    margin-bottom: 0px !important;
}
.page-heading h1{
    text-align: center;
    color: #000;
    margin: 0px !important;
    padding: 10px;
}
.content{
    margin-top: 0px !important;
    width: 100%;
    margin: auto;
    background: url(../../Images/bg/woi-part2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
}

.content .container .outer-wrapper{
    width: 80%;
    margin: auto;
}
.outer-wrapper > .inner-wrapper{
    width: 72%;
    margin: auto;
    border: 2px solid rgba(0,0,0,0.6);
    padding: 30px;
    padding-top: 0%;
    box-shadow: 5px 5px rgba(20,20,20,0.8);
    background: rgba(0,0,0,0.6);
    margin-bottom: 10px;
}
.inner-wrapper > .video{
    width: 80%;
    margin: auto;
    height: 350px;
}
.video > video{
    width: 100%;
    height: 100%;
    
}
.content-paragraph h2{
    font-size: 24px;

}
.content-paragraph p{
    text-align: justify;
    font-size: 16px;
    line-height: 20px;
}
@media(max-width: 480px){
    .content{
        
        width: 100%;
    }
    
    .containers{
        width: 100% !important;
       
    }
    .content .container .outer-wrapper{
        width: 100%;
        
    }
    .outer-wrapper > .inner-wrapper{
        width: 95%;
        padding: 10px;
        box-shadow: none;
        border: none;
    }
}