.info{
    width: 100%;
    margin: auto;
    color: #fff;
    background: url(../../Images/bg/block-index.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
h1{
    text-align: center;
    font-size: 28px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #000;
    background-color: #fff;
    margin: 0px;
    padding: 10px 0px;
}
a button{
    margin-top: 20px;
}
.info .containers{
    width: 55%;
    margin: auto;
    
}
.info .container .outer-wrapper{
    width: 80%;
    margin: auto;
    background: rgba(0,0,0,0.4);
}
.outer-wrapper > .inner-wrapper{
    width: 80%;
    margin: auto;
    border: 2px solid rgba(12,12,12);
    padding: 30px;
    padding-top: 0%;
    box-shadow: 5px 5px rgba(12,12,12,0.5);
    background: rgba(0,0,0,0.7);
}
.inner-wrapper h3{
    font-size: 24px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.inner-wrapper p{
    text-align: justify;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
}
.application{
    margin-top: 50px;
}
@media(max-width: 480px){
    .info{
        
        width: 100%;
    }
    
    .containers{
        width: 100% !important;
       
    }
    .info .container .outer-wrapper{
        width: 100%;
        
    }
    .outer-wrapper > .inner-wrapper{
        width: 95%;
        padding: 10px;
        box-shadow: none;
        border: none;
    }
}